/*
    Global
*/

body {
    font-family: "arial";
    font-size: 13px;
    color: #000;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Verdana';
    font-weight: bold;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 4px;
}

.p11 {
    font-size: 11px;
}

.p13 {
    font-size: 13px;
}

.p15 {
    font-size: 15px;
    line-height: 20px;
}

.p16 {
    font-size: 14px;
    line-height: 15px;
}

.p18 {
    font-size: 18px;
    line-height: 18px;
}

.p18-current {
    font-size: 18px;
    line-height: 18px;
    color: #7b3fb6;
}

.p18-popular {
    font-size: 18px;
    line-height: 18px;
    color: #009d78;
}

.p26 {
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

/*
    layout
*/

.container {
    max-width: 960px;
    width: 100%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.j-content-between {
    justify-content: space-between;
}

.j-content-center {
    justify-content: center;
}

.j-content-end {
    justify-content: flex-end;
}

.a-items-center {
    align-items: center;
}

.circle-with-text {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    height: 26px;
    width: 26px;
    border: 1px solid #fff;
}

.wrap {
    flex-wrap: wrap;
}

.general-header .container .bars {
    display: none;
}


/*
    tags
*/

.tags { /* para responsive es mejor no definir el width en px */
    position: absolute;
    right: 10px;
    text-align: center;
    border-radius: 8px;
    padding: 2px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
}

/*
    header
*/

.header {
    height: 100px;
    background-color: #62346f;
}

.header .container {
    height: 100%;
}

.header nav li {
    margin-left: 20px;
}

.header ul a {
    padding: 4px;
    font-size: 14px;
    color: #fff;
}

.header nav .normal a:hover {
    border-radius: 9px;
    background-color: #fff;
    color: #62346f;
}

.header nav .current a {
    border-radius: 9px;
    background-color: #fff;
    color: #62346f;
}

.header .social-media button {
    border: none;
    background-color: transparent;
    margin-left: 20px;
    padding: 0; /* elimina padding por default */
}

.general-header {
    height: 100%;
}

.general-header .container {
    position: relative;
}

.general-header .search-window-global {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 
slider
 */

.slider-global, .social-media-global, 
.search-window-global {
    background-color: #3a1045;
}

.slider-local {
    height: 41px;
}

.slider-local a {
    color: #fff;
}

.slider-local .right-dir, 
.slider-local .left-dir {
    background-color: #fff;
    color: #000;
    width: 20px;
    height: 20px;
}

/* 
social-media-menu
 */

.social-media-global .container nav {
    height: 41px;
}

.social-media-global .container ul {
    margin-left: 30px;
}

.social-media-global .container li {
    margin-left: 5px;
}

.social-media-global .container a {
    color: #fff;
}

/* 
search-window
 */

.search-window-global {
    background-color: #62346f;
    display: none;
}

.search-window-global .x-symbol {
    width: 4%;
    text-align: center;
    font-size: 26px;

}

.search-window-global form {
    height: 100%;
    width: 96%;
}

.search-window-global input {
    height: 100%;
    width: 100%;
    background-color: #62346f;
    border: 0; /* quita el borde por defecto del formulario */
    border-bottom: 1px solid #fff;
}

.search-window-global input:focus,
.search-window-global ::placeholder {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}
.search-window-global .x-symbol button {
    border: none;
    background-color: transparent;
    color: #fff;
}

/*
    main
*/

/*
    articles-main-news
*/

.main-news {
    margin: 20px 0 0 0;
}

.main-news .article, .current-popular-news .article {
    position: relative;
}

.main-news .article-text, .current-popular-news .article-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: opacity .5s ease;
}

.main-news .article:hover .article-text, .current-popular-news .article:hover .article-text {
    opacity: 1;
}

.main-news .spacing {
    margin-bottom: 20px;
}

.main-news .spacing:last-child {
    margin-bottom: 0;
}

/*
    social-tags
*/

.social-tags {
    height: 30px;
    width: 60px;
}

/*
    articles-main-news first
*/

.first {
    padding: 7px;
}

.first-social {
    margin-top: 26px;
}

.info-first {
    bottom: 38px;
    position: absolute;
    right: 7px;
    left: 7px;
}

/*
    articles-main-news second
*/

.second {
    padding: 10px;
}

.second-social {
    margin-top: 26px;
}

.info-second {
    bottom: 8px;
    position: absolute;
    right: 10px;
    left: 10px;
}

.info-second .p18 {
    margin-bottom: 18px;
}

.info-second .p11 {
    margin-bottom: 8px;
}

.info-second li {
    margin-left: 5px;
}

/*
    articles-main-news third
*/

.third {
    padding: 10px;
}

/* .third-social {
    margin-top: 0px;
} */

.info-third {
    bottom: 8px;
    position: absolute;
    right: 10px;
    left: 10px;
}

.box-3 .info-third .p16 {
    margin-right: 84px;
}

/*
current&popular-news
*/

/* 
current
 */

/* .current-popular-news .article {
    width: 50%;
} */

.current-popular-news .article-text {
    width: 100%;
}

.current-popular-news .current .articles {
    margin-right: 21px;
}

.current-popular-news .current .article, .current-popular-news .popular .article {
    margin-bottom: 20px;
}

.current-popular-news .current-news h3 {
    margin: 24px 0 14px 0;
    color: #7b3fb6;
}

/* 
popular
 */

.current-popular-news .popular-news h3 {
    margin: 24px 0 14px 0;
    color: #009d78;
}

.current-popular-news .popular {
    flex-flow: column nowrap;
}

/* 
"ver mas" button
 */

.ver-mas-button {
    width: 100%;
    margin: 10px 0 30px 0;
}

.ver-mas-button p {
    border: 1px solid;
    padding: 5px 38px 5px 38px;
    border-radius: 20px;
}

/*
footer
*/

.footer {
    background-color: #62346f;
}

.footer-layout {
    height: 76px;
    color: #fff;
}