
/*
    tags
*/

.tags-politics {
    text-align: center;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

/*
    main
*/

/*
    articles-two-columns
*/

.two-columns .article-text {
    position: relative;
}

.column-one {
    margin-right: 22px;
}

.column-one .title {
    font-size: 32px;
    margin-top: 11px;
    margin-bottom: 19px;
    color: #000000;

}

.column-two .title {
   
    margin-top: 22px;
    margin-bottom: 9px;
    color: #009d78;
    line-height: 32px;
}

.column-one .article {
    margin-top: 6px;
}

.column-one .article-text {
    margin-left: 21px;
}

.two-columns .spacing:last-child {
    margin-bottom: 0;
}

.column-two .info-two {
    margin: 9px 0 11px 0;
}

.column-one .articles {
    margin-bottom: 20px;
}

.column-two .articles {
    margin-bottom: 30px;
    border-bottom: solid 2px #bdbdbd;
}

.column-two .p15 {
    margin-bottom: 19px;
}

/*
    social-tags
*/

.social-tags li {
    border-color: #000;
}

/*
    footer
*/

.footer-layout {
    margin-top: 45px;
}